[submodule "castle-quilldore"]
	path = castle-quilldore
	url = https://github.com/tobybutchart/Castle-Quilldore
[submodule "Web-Audio-API-Synth"]
	path = Web-Audio-API-Synth
	url = https://github.com/tobybutchart/Web-Audio-API-Synth
[submodule "lib/Web-Audio-API-Synth"]
	ignore = all
[submodule "lib/Pix-L-SortR"]
	path = lib/Pix-L-SortR
	url = https://github.com/tobybutchart/Pix-L-SortR
	ignore = all
[submodule "Pix-L-SortR"]
	path = Pix-L-SortR
	url = https://github.com/tobybutchart/Pix-L-SortR
	ignore = all
