[submodule "castle-quilldore"]
	path = castle-quilldore
	url = https://github.com/tobybutchart/Castle-Quilldore
[submodule "Web-Audio-API-Synth"]
	path = Web-Audio-API-Synth
	url = https://github.com/tobybutchart/Web-Audio-API-Synth
[submodule "Pix-L-SortR"]
	path = Pix-L-SortR
	url = https://github.com/tobybutchart/Pix-L-SortR
	ignore = all
[submodule "music-player"]
	path = music-player
	url = https://github.com/tobybutchart/music-player
[submodule "Snips"]
	path = Snips
	url = https://github.com/tobybutchart/Snips
	ignore = all
[submodule "ShopR"]
	path = ShopR
	url = https://github.com/tobybutchart/ShopR
	ignore = all
[submodule "genny"]
	path = genny
	url = https://github.com/tobybutchart/genny
	ignore = all
[submodule "AudioAnalyzR"]
	path = AudioAnalyzR
	url = https://github.com/tobybutchart/AudioAnalyzR
	ignore = all
